/* Estilização da navbar */
.custom-navbar {
    background-color: #b1abab; /* Cinza escuro */
    color: #000000; /* Cor do texto preto */
  }
  
  /* Links principais na navbar */
  .custom-navbar .navbar-item {
    color: #000000 !important; /* Texto preto para itens de menu */
  }
  
  /* Links no dropdown */
  .custom-navbar .navbar-dropdown .navbar-item {
    color: #000000 !important; /* Texto preto para subitens */
  }
  
  /* Hover nos links */
  .custom-navbar .navbar-item:hover, 
  .custom-navbar .navbar-dropdown .navbar-item:hover {
    background-color: #e0e0e0; /* Cinza claro para hover */
    color: #000000 !important; /* Mantém o texto preto no hover */
  }

  /* Estilo personalizado para o botão de logout */
.navbar-end .button.is-danger {
  background-color: #ff3860; /* Cor de fundo */
  color: rgb(17, 16, 16); /* Cor do texto */
  border: none; /* Remove a borda */
  transition: background-color 0.3s ease; /* Efeito de transição */
}

.navbar-end .button.is-danger:hover {
  background-color: #ff1c4d; /* Cor de fundo ao passar o mouse */
}
  